.img-container{
    height: 90vh;
    width: 90%;
    margin: 0 auto;
    
    #camera{
        position: absolute;
        top: 180px;
    }
    #hotBoollon{
        position: absolute;
        right: 0;
        top: 60px;
    }
    #scope{

    }
    #plane{
        position: absolute;
        top: 0;
        left: 300px;
    }
}

